
/*
 * COLORS
 */


$primary: #3E687E;
$dark: #0F1B23;
$light: #89B0C8;
$pop: #A35E02;
$pop2: #A51200;
$neutral: #F2F0E7;
$darkneutral: #6B7158;
$midneutral: #A0A394;
 
 
/*
 * FONTS
 */
 
 $serif: 'Merriweather', Georgia, Times, 'Times New Roman', serif;
 $sans: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
 
  
 
 /*
 * SPACIAL STUFF
 * cf. https://css-tricks.com/media-queries-sass-3-2-and-codekit/
 */
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 1251px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 650px)  { @content; }
  }
}
 	