@import 'base';

/*
 * TODO: XXTRA large screen option with both menus permaopened
 *
 *
 */

/*
 * Main layout stuff
 */
body {
    background-color: $neutral; 
    font-family: $serif;
    color: $verydarkneutral;
}


div {
    &.container {
        @include clearfix;
        @include container;
        
        @include breakpoint(large) {
       		 position: absolute;
    		 left: 20em;
       		 right: 0;
       		 top:0;
    	}

    }
    

}

h1, h2, h3, h4, h5 {
    font-family: $sans;
    
    a {
        text-decoration: none; 
        color: $primary;
        font-family: $serif;
        letter-spacing: .1em;
        
        &:hover{
            color: $light;
        }
    }
}

a {
    color: $pop;
    text-decoration: none;
    
    &:hover {
        color: $pop2;
    }
    
}

/* display on large screen only? */
#header {
    display: none;
}

#content {
    padding: 3em;
    
    img {
        width: auto !important; 
        height: auto;
        padding: 1em;
    }

}

#sidebar {
    display: -webkit-flex;
    display: flex;
    margin: 0;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 20em;
    top: 0;
    @include breakpoint(small) { 
        left: -20em; 
        position: absolute;
    }
    @include breakpoint(medium) { 
        left: -20em; 
        position: absolute;
    }
    @include breakpoint(large) {
    	left: 0;
    }

    
    transition: transform 0.3s ease;
    font-family: $sans;
    
    
      
    &.open {
      transform: translate3d(0, 0, 0);
      left: 0;
    }
}

#footer {

}


/*
 * Nav elements -- needs js fix for android and ie cf 
 * http://alistapart.com/article/radio-controlled-web-design
 */

#menu-nav, #contents-nav {
  	width: 100%;
  	margin-top: -1px;
  	-webkit-order: 1;
  	order: 1;
  	display: none;
	text-transform: uppercase;

  
}

#menu-tab, #contents-tab {
    display: inline-block;
    letter-spacing: .1em;
    height: 3em;
    width: 50%;
    background-color: $pop;
    padding: 0;
    margin: 0;
    color: white;
    line-height: 3em;
    text-align: center;
    font-weight: bold;
    font-family: $serif;
    
        &:hover{
            background-color: $light;
        }   
}


#menu:checked ~ #menu-tab, #contents:checked ~ #contents-tab{
    color: white;
    background-color: $primary;
}

#menu:checked ~ #menu-nav, #contents:checked ~ #contents-nav{
    display: block;
    width: 20em;
}


#menu, #contents {
    position: absolute;
    left: -10000px;

}


#menu-nav, #contents-nav {
	
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    li {
        margin: 0;
        padding: 1em;
        font-size: .75em;
        display: block;
        background-color: $primary;
        width: 100%;
        color: white;
        border-bottom: solid $light 1px;
        
        a {
            text-decoration: none;
       		letter-spacing: .2em;
       		color: white;
        }
        
        &:hover, &:active{
            background-color: $light;
            color: $dark;
            
            a {
            	color: $dark;
            }
        }
    }
    
    
}

#contents-nav {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    
    li {
        display: inline-block;
        padding: 1em 3em;
    }
}
    
#menu-toggle {
    position: absolute;
    right: -1.5em;
    background-color: $primary;
    color: white;
    display: block;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    line-height: 1.5em;
    @include breakpoint(large) { display: none; }
    
    &:hover{
        background-color: $light;
    }
        
    &.clicked {
        background-color: $pop;
        color: white;
    }
}    
    
/*
 * Title/header stuff
 */
 
 
 /*
  * Notes
  */
.note {
    
    border-left: 3px solid $pop;
    margin: 2em;
    padding-left: .5em;
    color: $darkneutral; 
}