@import 'base';

/*
 * Main layout stuff
 */
body {
    font-family: $serif;
}


div {
	&.container {
		@include clearfix;
		@include container;
	}
}

h1, h2, h3, h4, h5 {
    font-family: $sans;
}

/* display on large screen only? */
#header {

}

#content {
	background-color: gray; 

    padding: 0 gutter();
    
    img {
    	max-width: 100%;	
    	height: auto;
    }
}

#sidebar {
	background-color: purple;
	position: absolute;
	width: 30em;
    top: 0;
    left: -3	0em; 
    transition: transform 0.3s ease;
    
      
  	&.open {
  	  background-color: orange;		
  	  transform: translate3d(0, 0, 0);
  	  left: 0;
	}
}

#footer {

}


/*
 * Nav elements
 */

#main-nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contents-nav {
    margin-left: auto;
    margin-right: auto;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    
    li {
        display: inline-block;
        padding: 1em 3em;
    }
}
    

/*
 * Title/header stuff
 */